In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/davidtaki/Projects/online_retail_monte_carlo/online_retail_utf_8_2009_2010.csv", 
                 sep=';', 
                 decimal=',')
df.to_csv("/home/davidtaki/Projects/online_retail_monte_carlo/online_retail_fixed.csv", 
          sep=';', 
          index=False, 
          decimal='.')

In [10]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009.12.01 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009.12.01 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009.12.01 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009.12.01 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009.12.01 7:45,1.25,13085.0,United Kingdom

In [11]:
df = pd.read_csv("/home/davidtaki/Projects/online_retail_monte_carlo/online_retail_utf_8_2010_2011.csv", 
                 sep=';', 
                 decimal=',')
df.to_csv("/home/davidtaki/Projects/online_retail_monte_carlo/online_retail_fixed_v2.csv", 
          sep=';', 
          index=False, 
          decimal='.')

In [12]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010.12.01 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010.12.01 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010.12.01 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010.12.01 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010.12.01 8:26,3.39,17850.0,United Kingdom